<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/assets/css/style.css">


</head>

<body>
<div class="form">
    <ul class="tab-group">
    <li class="tab active"><a href="#signup">Sign Up</a></li>
    <li class="tab "><a href="#login">Log In</a></li>
    </ul>

    <div class="tab-content">
        <div id="signup"> <!--signup-->
            <h1>Sign Up for Free</h1>
    
    <form action="" method="post">

    <div class="top-row"> <!--here -->
        <div class="field-wrap" aria-placeholder="sign">
            <label>
            <span class="req" aria-placeholder="sign">*</span>
            </label>
            <input type="text" required autocomplete="off"/>
        
    </div> 
    <!--to here-->

    <div class="field-wrap">
        
        <input type="text" required autocomplete="off"/>
        </div>
    </div>

    <div class="field-wrap">
        <label>
        Email Address<span class="req">*</span>
        </label>
        <input type="email" required autocomplete="off"/>
     </div>

    <div class="field-wrap">
        <label>
        Set A Password<span class="req">*</span>
        </label>
        <input type="password" required autocomplete="off"/>
    </div>

    <button type="submit" class="button button-block"/>Get Started</button>
    </form>
</div> <!--signup div ends-->

<!--log in-->
<div id="login">
    <h1>Welcome Back!</h1>

    <form action="/" method="post">

    <div class="field-wrap">
        <label>
        Email Address<span class="req">*</span>
        </label>
        <input type="email" required autocomplete="off"/>
    </div>

    <div class="field-wrap">
        <label>
        Password<span class="req">*</span>
        </label>
        <input type="password" required autocomplete="off"/>
    </div>

        <p class="forgot"><a href="#">Forgot Password?</a></p>

        <button class="button button-block"/>Log in</button>
    </form>
    </div>
</div>
</div>



 <script src="../form.js"></script>
</body>
</html>